body {
  background: #ddd;
}

.container {
  background: white;
}

section {
  padding: 20px 0;
}

label {
  display: block;
}

h1 {
  font-size: 3.5em;
}

h2 {
  padding-bottom: 20px;
}

.filters {
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
}

h3 span {
  display: block;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

h3 span:after {
  content: ' →';
}

.price {
  margin-top: 10px;
  font-style: normal;
  font-size: 1.6em;
}

.flight {
  background: #eee;
  padding: 20px;
  margin: 10px 0;
}

.loading:after {
  display: inline-block;
  content: '...';
  font-size: 50px;
  animation: loading 1.8s infinite;
  transform: translateX(10px);
}

@keyframes loading {
  to {
    letter-spacing: 30px;
    transform: translateX(30px);
  }
}
